<%- include ('partials/header') %>


<%- include ('partials/main_nav') %>


  
  <!--main content-->
  <main class="container">

    
    <div class="p-5 mb-4 bg-light rounded-3">
      <h1 class="display-4">Welcome to the <%=title %> page</h1>  
    </div>
   
    <div class="p-5 mb-4 bg-light rounded-3">
        <h9>You can also drop your contact details here:</h9>
          <form>
            <div class="form-group">
              <label for="formGroupExampleInput">First Name</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="First Name">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Last Name</label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Last name">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Contact no</label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="+1 (999) 478-987">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Email Address</label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="name@example.com">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Any Meessage </label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Any Message">
            </div>
          </form><br>
          <button class="btn btn-outline-success">
            <div lass="container-fluid" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <a class="nav-link active"  href="/home"></i>Submit</a>
             </div>
          </button>
    </div>

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>You can also contact me on :</p>
            <p>Email : deep.pat714@gmail.com</p>
          </div>
        </div>
    </div>


  </main>


  <%- include ('partials/bottom_nav') %>
  <%- include ('partials/footer') %>

 

