<%- include ('partials/header') %>


<%- include ('partials/main_nav') %>


  
  <!--main content-->
  <main class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div>
        <h1 class="display-4">Welcome to the <%=title %> page</h1>
      </div>
    </div>
    
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5" style="border:1px solid #ddd"><br><br>
            <img src="Assets/images/project1.jpeg" alt="responsive website" class="img-fluid">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6" style="border:1px solid #ddd">
            <h><b>Weather App</b> </h>
            <p></b>This is a simple weather app built using open weather api. </p>
            
            <a class="btn  btn-secondary m-auto p-3 m-auto p-3" href="https://github.com/deepatel014/KnowYourWeather">Github Link</a>
          </div>
        </div>
      </div>
    </div>


    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5" style="border:1px solid #ddd"><br><br>
            <img src="Assets/images/project2.jpeg" alt="responsive website" class="img-fluid">
          </div>
          
          <div class="col-xl-6 col-lg-6 col-md-6" style="border:1px solid #ddd">
            <h><b>To-Do List app</b> </h>
            <p><b>Project - </b> This is a basic TO-do List app i have built using react.js.</p>
            <a class="btn  btn-secondary m-auto p-3 m-auto p-3" href="https://github.com/deepatel014/todo-app">Github Link</a>
          </div>
        </div>
      </div>
    </div>

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5" style="border:1px solid #ddd"><br><br>
            <img src="Assets/images/project3.jpeg" width="4000" height="500" alt="responsive website" class="img-fluid">
           </div>
          <div class="col-xl-6 col-lg-6 col-md-6" style="border:1px solid #ddd">
            <h><b>Rock Paper Scissors</b> </h>
            <p>This is a basic Rock Paper Scissors app created using vanilla js.</p>
            <a class="btn  btn-secondary m-auto p-3 m-auto p-3" href="https://github.com/deepatel014/Rock-Paper-Scissors">Github Link</a>
          </div>
      </div>
    </div>

</main>

  
<%- include ('partials/bottom_nav') %>
<%- include ('partials/footer') %>
 