<%- include ('../partials/header') %>


<%- include ('../partials/main_nav') %>


<div class="container">
    <div class="row">
        <div class="offest-md-2 col-md-8">
            <h1><%= title%></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Contact Name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter your name"
                    name="name"
                    value="<%= contact.name %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="authorTextField">Email</label>
                    <input type="email" class="form-control"
                    id="emailTextField"
                    placeholder="Enter your email"
                    name="email" 
                    value="<%= contact.email %>"
                    required>
                </div>


                <div class="form-group">
                    <label for="publishedTextField">Phone</label>
                    <input type="number" class="form-control"
                    id="priceTextField"
                    placeholder="Enter your phone number"
                    name="number" 
                    value="<%= contact.number %>"
                    required>
                </div>
<br>
                <br>

                <button class="btn " style="background-color: #939da8;" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>

                    <a href="/business-contact" class="btn " style="background-color: #939da8;">
                        <i class="fas fa-undo"></i>Cancel</a>
            </form>
        </div>
    </div>
</div>





<%- include ('../partials/bottom_nav') %>
<%- include ('../partials/footer') %>